# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/.history/
/.vscode/

alist/*
!alist/.gitkeep
caddy/*
!caddy/.gitkeep
!caddy/Caddyfile
dpanel/*
!dpanel/.gitkeep
elasticsearch/*
!elasticsearch/.gitkeep
frankenphp/wwwroot/*
frankenphp/config/*
!frankenphp/config/.gitkeep
frankenphp/data/*
!frankenphp/data/.gitkeep
mariadb/*
!mariadb/.gitkeep
mongodb/data/*
!mongodb/.gitkeep
mysql/*
!mysql/.gitkeep
redis/data/*
postgresql/data/*
!postgresql/data/.gitkeep
!redis/data/.gitkeep
redis/logs/*
!redis/logs/.gitkeep
redis/redis.conf
rabbitmq/mnesia/*
!rabbitmq/.gitkeep

wwwroot/*
!wwwroot/.gitkeep
/.DS_Store
